html,body{
  background-size: 101% 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: #136a8a; 
  background-image: linear-gradient(to right, rgb(0, 118, 148) , rgb(0, 180, 204));
  /* background: -webkit-linear-gradient(to left, #267871, #136a8a);  */
  /* background: linear-gradient(to left, #267871, #136a8a);  */
}

.greeting{
  height: 90vh;
}

.cpfont1 {
  font-family: 'Rock Salt', cursive;
  color: black;
  font-size: 3.5em;
}

.cpfont2 {
  font-family: 'Rock Salt', cursive;
  color: black;
}

.pic {
  max-width: 30vw;
}

.logo {
  max-height: 50px;
}

.fa-linkedin{
  color: white;
}

.fa-github{
  color: white;
}

.footer{
  background-image: linear-gradient(to right, rgb(0, 118, 148) , rgb(0, 180, 204));
}